<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705544426335-nvopk5526ubech64hilqoinij9o6nsjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705544426335-nvopk5526ubech64hilqoinij9o6nsjb</string>
	<key>API_KEY</key>
	<string>AIzaSyDKVKXsNA42wFCWTEW3JMeQeofSsgpRZwU</string>
	<key>GCM_SENDER_ID</key>
	<string>705544426335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcodax.chat.app</string>
	<key>PROJECT_ID</key>
	<string>chatappdcodax</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappdcodax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705544426335:ios:126606fb5ba43fe1fcdcea</string>
</dict>
</plist>